* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .head {
    border-bottom: 2px solid #c2bfbf;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .head .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head .headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head .headerNav .headerUL {
    display: flex;
  }
  .head .headerNav .headerUL .headerLi {
    list-style: none;
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;
  }
  .head .headerNav .headerUL .headerLi .navlink {
    text-decoration: none;
    color: inherit;
    color: #696161;
    position: relative;
    padding: 9px;
  }
  .head .headerNav .headerUL .headerLi .navlink:hover {
    color: #FD8900;
  }
  .head .headerNav .headerUL .headerLi .navlink::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    margin: 0 2px;
    border-radius: 2px;
    background: #FD8900;
    background: linear-gradient(
      90deg,
      #FD8900 0%,
      #ffffff 90%
    );
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  .head .headerNav .headerUL .headerLi .navlink:hover::after,
  .head .headerNav .headerUL .headerLi .navlink.active::after {
    opacity: 1;
  }
  .head .headerNav .headerUL .headerLi .active {
    color: #FD8900;
  }
  .head .headerNav .headerUL .dropdownLi {
    list-style: none;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropbtn {
    font-size: 18px;
    font-weight: 100;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    color: #696161;
    position: relative;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropbtn::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    margin: 0 2px;
    border-radius: 2px;
    background: #FD8900;
    background: linear-gradient(
      90deg,
      #FD8900 0%,
      #ffffff 90%
    );
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropbtn:hover::after {
    opacity: 1;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropbtn:hover {
    color: #FD8900;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropdown-content .dropdownProject {
    border-bottom: 1px solid #bdb8b8;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown .dropdown-content .dropdownProject {
    color: #272525;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown:hover .dropdown-content {
    display: block;
    padding: 5px;
    font-weight: 500;
  }
  .head .headerNav  .headerUL .dropdownLi .dropdown:hover .dropdown-content .dropdownProject:hover {
    color: #020257;
    background-color: #f1f1f1;
  }
  .head .headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .head .headerBtn .innerBtn {
    background-color: #070790;
    color: #fff;
    padding: 10px 36px;
    border-radius: 8px;
    font-size: 24px;
    line-height: 28.8px;
    border: none;
    outline: none;
  }
  .head .headerBtn .innerBtn:hover {
    background-color: #fff;
    color: #070790;
    border: 2px solid;
  }
  .head .headerBtn .headerIcon {
    font-size: 25px;
    display: none;
  }
  .mainSection {
    width: 100%;
  }
  .mainSection .mainImage {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 22%, 86% 39%, 55% 71%, 14% 100%, 0 100%);
  }
  .mainSection .subSection {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
 .mainSection .subSection .goal {
  display: flex;
  justify-content: center;
  align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: #0fa900;
    background: radial-gradient(circle, #0fa900 0%, #d2f2cf 90%);
    position: relative;
    bottom: 270px;
    }
    .mainSection .subSection .goal .subGoal {
      height: 440px;
      width: 440px;
      background-color: #fafafa;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .subGoal h2 {
      font-size: 90px;
      font-weight: 500;
      color: #000080;
    }
    .subGoal p {
      font-size: 46px;
      font-weight: 400;
    }
    .subGoal span {
      color: #000080;
      font-weight: 500;
    }
 .mainSection .subSection .resolution {
    height: 300px;
    width: 600px;
    position: relative;
    bottom: 250px;
}
  .mainSection .subSection .resolution .resolutionAbout {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FD8900;
    font-weight: 700;
    font-size: 48px;
    line-height: 58.09px;
  }
  .mainSection .subSection .resolution .motivation {
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
  } 
  .mainSection .subSection .resolution .resolutionBtn {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .mainSection .subSection .resolution .resolutionBtn .mainbtn {
    padding: 6px 48px;
    border-radius: 4px;
    border: 1px solid #010080;
    color: #010080;
    background-color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
  }
  .mainSection .subSection .resolution .resolutionBtn .mainbtn.filled {
    background-color: #010080;
    color: #fff;
    outline: none;
  }
  .article {
    width: 100%;
    display: flex;
    gap: 20px;
    border-bottom: 8px solid #C5C5C5;
    position: relative;
    bottom: 100px;
  }
  .article .userStory {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px 60px;
    background-color: #fff;
    cursor: pointer;
  }
  .article .userStory.active {
    color: #FD8900;
    border-bottom: 8px solid #FD8900;
  }
  .mainAside {
    width: 100%;
    display: flex;
  }
  .mainAside .leftAside , .mainAside .rightAside {
    width: 50%;
    position: relative;
    bottom: 70px;
    margin-left: 30px;
  }
  .mainAside .leftAside .aboutMe {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
  }
  .mainAside .leftAside .reason {
    font-weight: 800;
    font-size: 34px;
    line-height: 35px;
    color: #4A4A4A;
    margin: 40px 0 20px 0; 
  }
  .mainAside .rightAside .container {
    width: 80%;
    background-color: #E8E8E8;
    padding: 10px;
    margin-left: 30px;
  }
  .mainAside .rightAside .container .supporters {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #FD8900;
    padding: 15px 0;
  }
  .mainAside .rightAside .container .ourSupporters {
    padding: 24px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    background-color: #fff;
    color: #000000;
    margin: 10px;
    cursor: pointer;
  }
  .mainAside .rightAside .container .ourSupporters i {
    color: #000080;
  }
  .mainFooter {
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
  }
  .mainFooter .upperFooter {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 40px 0;
    border-bottom: 2px solid #c2bfbf;  
  }
  .mainFooter .upperFooter .aboutUs .aboutCompany , .mainFooter .upperFooter .donate .aboutCompany {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    font-size: 18px;
  }
  .mainFooter .upperFooter .aboutUs h3 , .mainFooter .upperFooter .donate h3 , .mainFooter .upperFooter .scanner h3 {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: "Montserrat Alternates", Sans-serif;
  }
  .mainFooter .upperFooter .aboutUs .aboutCompany .aboutUsLink , .mainFooter .upperFooter .donate .aboutUsLink  {
    text-decoration: none;
    color: #fff;
  }
  .mainFooter .upperFooter .scanner .scannerId {
    font-size: 20px;
    margin-top: 20px;
  }
  .mainFooter .lowerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .mainFooter .lowerFooter .headline , .mainFooter .lowerFooter .headlinePolicy {
    display: flex;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1.75em;
  }
  .mainFooter .lowerFooter .socialmedia .socialmediaImage {
    border-radius: 50%;
    transition: height 0.5s ease-out;
  }
  .mainFooter .lowerFooter .socialmedia .socialmediaImage:hover {
    height: 55px;
  }
  .mainFooter .lowerFooter .copyright {
    font-size: 20px;
    margin: 1em 0 3em 0;
  }