* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
}
.main {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    background-image: url(asset/BackgroundImage.png);
    position: relative;
    border: 1px solid #fff;
    border-bottom: none
}
.leftSection {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: #fff;
}
.content {
    width: 60%;
    margin-right: 200px;
}
.content h1 {
    font-size: 40px;
}
.content p {
    font-size: 20px;
    margin-top: 20px;   
}
.rightSection {
    width: 30%;
}
.imgArea {
    margin-right: 60px;
}
.imgArea img {
    width: 100%;
    height: 300px;
}
.lowerPart {
    width: 100%;
    height: 50px;
    background-color: #04045f;
    color: #fff;
    position: absolute;
    top: 252px;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 0.75;
    border: 1px solid #fff;
    border-top: none;
}
.lowerPart p {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.lowerPart p a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-weight: bolder;
    margin-left: 5px;
}
aside {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftAside {
    width: 20%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.container p {
    padding: 15px 10px;
    color: #0000ff;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    display: flex;
}
.container p a {
    text-decoration: none;
}
.container p:hover {
    background-color: #eaeaea;
}
.active {
    background-color: #eaeaea;
}
.asideIcon {
    margin-right: 10px;
}
.sidebarImg {
    margin-right: 10px;
    color: 0000ff;
}
.rightAside {
    width: 80%;
}
.upperPortion {
    background-color: rgb(248, 237, 233);
    height: 158px;
    display: flex;
    align-items: flex-start;
}
.upperPortion h2 {
    color: #FD8900;
    margin: 20px 0 0 40px;
    font-weight: bolder;
}
.donors {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 40px;
    position: relative;
    bottom: 35px;
}
.totalRaise {
    border: 2px solid #0000ff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    background-color: #fff;
}
.totalRaise i , .totalDonors i {
    margin-right: 10px;
}
.totalRaise .amtMoney ,  .no-donor {
    margin: 10px 0 0 26px;
    font-weight: bold;
}
.totalDonors {
    border: 2px solid #008000;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
}
.totalRaise p , .totalDonors p {
    font-size: 18px;
}