
* {
  margin: 0;
  padding: 0;
}
.head {
  border-bottom: 2px solid #c2bfbf;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* #808080 */
.head .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNav .headerUI {
  display: flex;
}
.headerNav .headerUI .headerLi {
  list-style: none;
  padding: 12px;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.headerNav .headerUI .headerLi .navlink {
  text-decoration: none;
  color: inherit;
  color: rgb(105, 97, 97);
}
.headerNav .headerUI .headerLi .navlink:hover {
  color: rgb(225, 150, 10);
}
.headerNav .headerUI .headerLi .navlink {
  position: relative;
  padding: 7px;
}
.headerNav .headerUI .headerLi .navlink::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  margin: 0 2px;
  border-radius: 2px;
  background: rgb(225, 150, 10);
  background: linear-gradient(
    90deg,
    rgba(225, 150, 10, 1) 0%,
    rgba(255, 255, 255, 1) 90%
  );
  opacity: 0;
  transition: opacity 1s ease-out;
}
.headerNav .headerUI .headerLi .navlink:hover::after {
  opacity: 1;
}
.headerNav .headerUI .headerLi .navlink.active::after {
  opacity: 1;
}
.headerNav .headerUI .headerLi .active {
  color: rgb(225, 150, 10);
}
.headerNav .dropdown .dropbtn {
    font-size: 18px; 
    font-weight: 100; 
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    margin: 0;
    color: rgb(105, 97, 97);
    position: relative;
}   
.headerNav .dropdown .dropbtn::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    margin: 0 2px;
    border-radius: 2px;
    background: rgb(225, 150, 10);
    background: linear-gradient(
      90deg,
      rgba(225, 150, 10, 1) 0%,
      rgba(255, 255, 255, 1) 90%
    );
    opacity: 0;
    transition: opacity 1s ease-out;
}
.headerNav .dropdown .dropbtn:hover::after {
    opacity: 1;
}
.headerNav .dropdown .dropbtn:hover {
    color: rgb(225, 150, 10);    
}
.headerNav .dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.headerNav .dropdown .dropdown-content .dropdownProject {
    border-bottom: 1px solid rgb(189, 184, 184);
}
.headerNav .dropdown .dropdown-content .dropdownProject {
    float: none;
    color: rgb(39, 37, 37);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .headerNav .dropdown:hover .dropdown-content {
    display: block;
    padding: 10px;
    font-weight: 500;
  }
  .headerNav .dropdown:hover .dropdown-content .dropdownProject:hover{
    color: #020257;
    background-color: #f1f1f1;
  }
.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerBtn .innerBtn {
  background-color: #fff;
  color: rgb(60, 60, 148);
  border: 1px solid;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 600;
}
.headerBtn .innerBtn.filled {
  background-color: #070790;
  color: #fff;
  border-radius: 5px;
  padding: 11px 45px;
}

.headerBtn .innerBtn:hover {
  background-color: rgb(7, 7, 144);
  color: white;
}
.headerBtn .innerBtn.filled:hover {
  background-color: #fff;
  color: rgb(7, 7, 144);
}
.headerBtn .headerIcon {
  font-size: 25px;
  display: none;
}
.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin-top: 2%;
}
.mainSection .leftSection {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.mainSection .leftSection .mainForm { 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid gray;
  box-shadow: 0px 0px 7px rgb(140, 139, 139);
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.mainSection .leftSection .mainForm .lowerForm{
  margin: 0px 20px;
}
.mainSection .leftSection .mainForm .w100{
  overflow: hidden;
}
.mainSection .leftSection .mainForm .formTag {
  color: rgb(225, 150, 10);
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}
.mainSection .leftSection .mainForm .formInput .filled {
  display: flex;
  font-weight: 600;
  margin: 0 0 8px 4px;
}
.mainSection .leftSection .mainForm .inputField {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 13px;
  padding-left: 35px;
  margin-bottom: 10px;
  background-color: rgb(236, 235, 234);
}
.mainSection .leftSection .mainForm .inputField::placeholder {
  opacity: 0.5;
}
.mainSection .leftSection .mainForm .inputField .inputIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSection .leftSection .mainForm .inputIcon i {
  position: absolute;
  opacity: 0.5;
  padding: 13px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.mainSection .leftSection .mainForm .inputIcon i.eyeIcon {
  margin-left: 18em;
}
.mainSection .leftSection .mainForm .identification {
  display: flex;
  justify-content: space-between;
  margin: 4% 0 12% 0;
}
.mainSection .leftSection .mainForm .identification .remember {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.mainSection .leftSection .mainForm .identification .remember input[type="checkbox" i] {
  height: 17px;
  width: 17px;
}
.mainSection
  .leftSection
  .mainForm
  .identification
  .forgot
  .forgotPass
  .forgotLink {
  text-decoration: none;
  color: rgb(51, 140, 170);
  font-size: 18px;
}
.mainSection .leftSection .mainForm .buttonSubmit {
  width: 100%;
  padding: 8px;
}
.mainSection .leftSection .mainForm .submit .buttonSubmit {
  background-color: rgb(7, 7, 144);
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 19px;
  font-weight: 500;
}
.mainSection .leftSection .mainForm .submit .buttonSubmit:hover {
  color: rgb(7, 7, 144);
  background-color: #fff;
  border: 1px solid;
}
.mainSection .rightSection {
  height: 500px;
  width: 70%;
  background-image: url(asset/ngoTL.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainSection .rightSection .comment .coreValue {
  color: rgb(19, 19, 148);
  font-size: 2.5em;
  font-family: Arial, Helvetica, serif;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  /* margin-top: 2em; */
}
/* .mediaImage{
  background-image: url(asset/ngoTL.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 50px;
  width: 200px;
} */

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  .head {
    border-bottom: 2px solid #c2bfbf;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  /* #808080 */
  .head .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head .logo .logoImg {
    width: 115px;
    height: 90px;
  }
  .headerNav {
    display: none;
  }
  .headerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .headerBtn .innerBtn {
    background-color: #fff;
    color: rgb(60, 60, 148);
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 7px;
    font-weight: bold;
    cursor: pointer;
    font-weight: 600;
  }
  .headerBtn .innerBtn.filled {
    display: none;
  }
  .headerBtn .innerBtn:hover {
    background-color: rgb(7, 7, 144);
    color: white;
  }
  .headerBtn .headerIcon {
    font-size: 20px;
    display: block;
    cursor: pointer;
  }
  .mainSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .mainSection .rightSection {
    height: 57px;
    width: 267px;
    background-image: url(asset/ngoTL.png);
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0.5em;
  }
  .mainSection .rightSection .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
  }
  .mainSection .rightSection .comment .coreValue {
    color: rgb(19, 19, 148);
    font-size: 1.5em;
    font-family: Arial, Helvetica, serif;
    font-weight: bolder;
    align-items: center;
    font-size: 17px;
  }
  .mainSection .rightSection .comment .coreValue br {
    display: none;
  }
  .mainSection .leftSection {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  .mainSection .leftSection .mainForm {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid gray;
    box-shadow: 0px 0px 7px rgb(140, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding-bottom: 10px;
  }
  .mainSection .leftSection .mainForm .w100{
    width: 290px;
    height: 90px;
}
  .mainSection .leftSection .mainForm .formTag {
    color: rgb(225, 150, 10);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  .mainSection .leftSection .mainForm .formInput .filled {
    display: flex;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 6px;   
  }
  .mainSection .leftSection .mainForm .inputField {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 8px;
    padding-left: 35px;
    background-color: rgb(236, 235, 234);
  }
  .mainSection .leftSection .mainForm .inputField .inputIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainSection .leftSection .mainForm .inputIcon i {
    position: absolute;
    opacity: 0.5;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainSection .leftSection .mainForm .inputIcon i.eyeIcon {
    margin-left: 13em;
  }
  .mainSection .leftSection .mainForm .identification {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px;  
  }
  input[type="checkbox" i] {
    height: 15px;
    width: 15px;
  }
  .mainSection .leftSection .mainForm .identification .remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .mainSection
    .leftSection
    .mainForm
    .identification
    .forgot
    .forgotPass
    .forgotLink {
    text-decoration: none;
    color: rgb(51, 140, 170);
    font-size: 14px;
  }
  .mainSection .leftSection .mainForm .buttonSubmit {
    width: 100%;
    padding: 4px;
    margin-bottom: 3%;
  }
  .mainSection .leftSection .mainForm .submit .buttonSubmit {
    background-color: rgb(7, 7, 144);
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
  }
  .mainSection .leftSection .mainForm .submit .buttonSubmit:hover {
    color: rgb(7, 7, 144);
    background-color: #fff;
    border: 1px solid;
  }

}

