*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    display: flex;
}
.leftSection {
    width: 20%;
    border: 1px solid lightgray;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.leftSection a {
    text-decoration: none;
    color: #505050;
    border-radius: 8px;
}
.leftSection a:hover {
    background-color: #010080B2;
    color: #fff;
}
.leftSection p {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 20px;
}
.active {
    background-color: #010080B2;
    color: #fff;
}
.rightSection {
    width: 80%;
}
.rightsubSection {
    margin: 24px 24px 0 24px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}
.rightSection .rightsubSection h1 {
    padding: 20px 24px;
}
.adminTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .tableRow, .tableHead {
    border: 1px solid #e4e1e1;
    text-align: left;
    padding: 8px;
    background-color: #fff;
  }
  .tableHead {
    background-color: #f8f8f8;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #38D147;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #38D147;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .editTable {
    color: #000;
  }