* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
.hero {
    width: 100%;
    padding: 24px;
}
.hero h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding-bottom: 16px;
}
.fundraiserDetail {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.fundraiserDetail input , .secondfundraiserDetail input , .thirdfundraiserDetail textarea , .fourthfundraiserDetail textarea {
    width: 450px;
    height: 40px;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 16px;
    color: #000000;
    margin-top: 6px;
    outline: none;
}
.thirdfundraiserDetail textarea , .fourthfundraiserDetail textarea {
    height: 80px;
}
.secondfundraiserDetail , .thirdfundraiserDetail , .fourthfundraiserDetail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 16px 0;
}
.formButton {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 0 16px;
}
.formButton .fundButton {
    padding: 10px 20px;
    height: 45px;
    min-width: 95px;
    border: 1px solid #79747E;
    border-radius: 8px;
    color: #fff;
    background-color: #010080;
    font-size: 16px;
    cursor: pointer;
}
.formButton .fundButton.donorButton {
    background-color: #fff;
    color: #505050;
}