*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
    display: flex;
}
.leftSection {
    width: 20%;
    height: 100vh;
    border: 1px solid lightgray;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.leftSection a {
    text-decoration: none;
    color: #505050;
    border-radius: 8px;
}
.leftSection a:hover {
    background-color: #010080B2;
    color: #fff;
}
.leftSection p {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 20px;
}
.active {
    background-color: #010080B2;
    color: #fff;
}
.rightSection {
    width: 80%;
}
.rightsubSection {
    margin: 24px 24px 0 24px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}
.rightSection .rightsubSection h1 {
    padding: 20px 24px;
}
form {
    display: flex;
    gap: 10px;
    padding: 16px;
}
form input {
    height: 40px;
    width: 350px;
    margin-top: 6px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    outline: none;
}
.compulsory {
    color: #ff0000;
}
.rightsectionBtn {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 16px;
}
.cancelBtn {
    padding: 10px 20px;
    border: 1px solid #79747E;
    color: #fff;
    background-color: #010080;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.cancelBtn a {
    text-decoration: none;
    color: #fff;
}
.cancelBtn.filled  {
    background-color: #fff;
    color: #79747E;
}
.cancelBtn.filled a {
    color: #79747E;
}