*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
.mainSection {
    width: 100%;
    display: flex;
}
.mainSection .leftSection {
    width: 20%;
    height: 100vh;
    border: 1px solid lightgray;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mainSection .leftSection .sidebarLink {
    text-decoration: none;
    color: #505050;
    border-radius: 8px;
}
.mainSection .leftSection .sidebarLink:hover {
    background-color: #010080B2;
    color: #fff;
}
.mainSection .leftSection .sideBar {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 20px;
}
.mainSection .leftSection .sideBar.active {
    background-color: #010080B2;
    color: #fff;
}
.mainSection .rightSection {
    width: 80%;
}
.mainSection .rightSection .rightsubSection {
    margin: 24px 24px 0 24px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}
.mainSection .rightSection .rightsubSection .mainTag {
    padding: 20px 24px;
}
.mainSection .rightSection .rightsubSection .mainForm {
    display: flex;
    gap: 10px;
    padding: 16px;
}
.mainSection .rightSection .rightsubSection .mainForm input {
    height: 40px;
    width: 350px;
    margin-top: 6px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    outline: none;
}
.mainSection .rightSection .rightsubSection .mainForm .compulsory {
    color: #ff0000;
}
.mainSection .rightSection .rightsubSection .rightsectionBtn {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 16px;
}
.mainSection .rightSection .rightsubSection .rightsectionBtn .cancelBtn {
    padding: 10px 20px;
    border: 1px solid #79747E;
    color: #fff;
    background-color: #010080;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.mainSection .rightSection .rightsubSection .rightsectionBtn .cancelBtn .rightsectionBtnLink {
    text-decoration: none;
    color: #fff;
}
.mainSection .rightSection .rightsubSection .rightsectionBtn .cancelBtn.filled  {
    background-color: #fff;
    color: #79747E;
}
.mainSection .rightSection .rightsubSection .rightsectionBtn .cancelBtn.filled  .rightsectionBtnLink {
    color: #79747E;
}