* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainSection {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftSection {
    width: 20%;
    height: 100vh;
    border: 1px solid lightgray;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.leftSection .sidebarLink {
    text-decoration: none;
    color: #505050;
    border-radius: 8px;
}
.mainSection .leftSection .sidebarLink:hover {
    background-color: #010080B2;
    color: #fff;
}
.sideBar {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 20px;
}
.mainSection .leftSection .sideBar.active {
    background-color: #010080B2;
    color: #fff;
}
.rightSection {
    width: 80%;
    margin: 24px;
}
.rightSection .accountDetails {
    border: 1px solid #eaecf0;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.rightSection .accountDetails h1 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.firstpersonalDetail , .secondpersonalDetail , .thirdpersonalDetail , .fourthpersonalDetail {
    display: flex;
    gap: 10px;
}
.firstpersonalDetail input , .secondpersonalDetail input , .thirdpersonalDetail input , .fourthpersonalDetail input {
    width: 300px;
    height: 40px;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 16px;
    color: #000000;
    margin-top: 6px;
    outline: none;
}
input#DOB {
    width: 170px;
    color: #667085;
}
.secondpersonalDetail , .thirdpersonalDetail , .fourthpersonalDetail {
    margin-top: 16px;
}
form input::placeholder {
    color: #667085;
}
.formButton {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 0 16px;
}
.formButton .fundButton {
    padding: 10px 20px;
    height: 45px;
    min-width: 95px;
    border: 1px solid #79747E;
    border-radius: 8px;
    color: #fff;
    background-color: #010080;
    font-size: 16px;
    cursor: pointer;
}
.formButton .fundButton.donorButton {
    background-color: #fff;
    color: #505050;
}
.compulsory {
    color: #ff0000;
}