* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    width: 100%;
}
.main {
    width: 100%;
    height: 548px;
    display: flex;
    flex-direction: row;
    background-image: url(../asset/background-bigSize.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #fff;
    border-bottom: none
}
.leftSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px;
    align-items: center;
    text-align: justify;
    color: #fff;
}
.content {
    width: 593px;
    height: 232px;
    margin-left: 80px;
}
.content h1 {
    font-size: 36px;
    font-weight: 700;
    color: #E9F7F0;
    letter-spacing: 2px;
}
.content p {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}
.rightSection {
    width: 50%;
}
.imgArea {
    margin-right: 60px;
}
.imgArea img {
    width: 100%;
    height: 548px;
    object-fit: contain;
}
.lowerPart {
    width: 100%;
    height: 69px;
    background-color: #04045f;
    color: #fff;
    position: absolute;
    top: 480px;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: 0.75;
    border: 1px solid #fff;
    border-top: none;
}
.lowerPart p {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.lowerPart p a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-weight: bolder;
    margin-left: 5px;
}
aside {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.leftAside {
    width: 25%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.container a {
    text-decoration: none;
    width: 100%;
}
.container p {
    font-family: "Roboto", sans-serif;
    padding: 24px 40px;
    color: #000080;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}
.container p a {
    text-decoration: none;
}
.container p:hover {
    background-color: #0000801A;
}
.active {
    background-color: #0000801A;
}
.asideIcon {
    margin-right: 10px;
}
.sidebarImg {
    margin-right: 10px;
    color: 0000ff;
}

/* adminFundraiser Starts */


.rightAside {
    width: 75%;
    padding: 40px 20px;
    background-color: #dfdada;
}
.rightAside h1 {
    color: #FD8900;
    font-family: "Roboto", sans-serif;
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
}
form {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upperForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form .upperForm .chooseDate {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #171A1F;
}
.lowerForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.formsearchButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 11px 28px;
    cursor: pointer;
    background-color: #000080;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.formsearchButton a {
    text-decoration: none;
    color: #fff;
    outline: none;
    border: none;
}
form input {
    border: 1px solid #D9D9D9;
    outline: none;
    margin-top: 8px;
    padding: 10px 16px;
    border-radius: 6px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}
.downloadExcel {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 11px 28px;
    background-color: #fff;
    color: #000080;
    border: 1px solid #000080;
    border-radius: 4px;
    outline: none;
    margin: 28px 0;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #D9D9D9;
}
th , td {
    border: 1px solid #D9D9D9;
    text-align: center;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #171A1F;
}
.tableButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tableButton .iconButton {
    height: 30px;
    width: 30px;
    cursor: pointer;
    outline: none;
    margin-left: 5px;
}