*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}
.mainSection {
    width: 100%;
    display: flex;
}
.mainSection .leftSection {
    width: 20%;
    border: 1px solid lightgray;
    padding: 24px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mainSection .leftSection .sideBarLink {
    text-decoration: none;
    color: #505050;
    border-radius: 8px;
}
.mainSection .leftSection .sideBarLink:hover {
    background-color: #010080B2;
    color: #fff;
}
.mainSection .leftSection .sideBar {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    font-size: 20px;
}
.sideBar.active {
    background-color: #010080B2;
    color: #fff;
}
.mainSection .rightSection {
    width: 80%;
}
.mainSection .rightSection .rightpart {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    margin: 6px;
}
.mainSection .rightSection .rightpart .bigText {
    padding: 35px 40px 0 40px;
}
.mainSection .rightSection .rightpart .fundraiserDetail {
    display: flex;
    gap: 10px;
    padding: 16px 40px 30px 40px;
}
.mainSection .rightSection .rightpart .fundraiserDetail input , .firstpersonalDetail input , .secondpersonalDetail input , .thirdpersonalDetail input , .firstdonationDetail input , .seconddonationDetail input {
    width: 450px;
    height: 40px;
    padding: 8px 12px;
    display: flex;
    gap: 8px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    font-size: 16px;
    color: #000000;
    margin-top: 6px;
    outline: none;
}
.mainSection .rightSection .rightpart .mainForm input::placeholder {
    color: #667085;
}
.mainSection .rightSection .rightpart h2 {
    padding: 0 40px 0px 40px;
}
.mainSection .rightSection .rightpart .firstpersonalDetail , .secondpersonalDetail , .thirdpersonalDetail , .firstdonationDetail , .seconddonationDetail {
    display: flex;
    gap: 10px;
    padding: 16px 40px 30px 40px;
}
.mainSection .rightSection .rightpart .secondpersonalDetail , .thirdpersonalDetail , .seconddonationDetail {
    padding-top: 0;
}
.mainSection .rightSection .rightpart .firstpersonalDetail input , .secondpersonalDetail input , .thirdpersonalDetail input , .firstdonationDetail input , .seconddonationDetail input {
    width: 300px;
}
.mainSection .rightSection .rightpart .formButton {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 0 16px;
}
.mainSection .rightSection .rightpart .formButton .fundButton {
    padding: 10px 20px;
    height: 45px;
    width: 95px;
    border: 1px solid #79747E;
    border-radius: 8px;
    color: #fff;
    background-color: #010080;
    font-size: 16px;
    cursor: pointer;
}
.mainSection .rightSection .rightpart .formButton .fundButton.donorButton {
    background-color: #fff;
    color: #505050;
}
.mainSection .rightSection .rightpart .mainForm input#paymentdate {
    width: 170px;
    color: #667085;
}
.mainSection .rightSection .rightpart .mainForm .compulsory {
    color: #ff0000;
}